/* Full-page background */
.login-page {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/Signup.png"); /* <-- your plant background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center login card */
.login-container {
  width: 350px;
  padding: 35px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Logo */
.login-logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Input boxes */
.input-box {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

/* Button */
.btn {
  width: 100%;
  background-color: #2e7d32;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #1b5e20;
}
.register-text{
  color: #ffffff;
  margin-top: 10px;
}
